* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  margin: 0 40px;
  margin-top: 40px;
  margin-bottom: 30px;

}

.calculator-container {
  width: 65%;
  height: 70vh;
}

.display {
  text-align: right;
  padding: 20px;
  background-color: rgb(133, 134, 148);
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 100%;
}

.buttons button {
  padding: 10px;
  border: 1px solid rgb(209, 209, 209);
  border-top: none;
  border-left: none;
  cursor: pointer;
  font-size: 20px;
}

.buttons button:hover {
  background-color: rgb(211, 211, 211);
  transition: 0.2s;
}

.buttons > button:nth-child(17) {
  grid-column: 1 / span 2;
}

.buttons > button:nth-child(4),
.buttons > button:nth-child(8),
.buttons > button:nth-child(12),
.buttons > button:nth-child(16),
.buttons > button:nth-child(19) {
  background-color: rgb(245, 145, 62);
  border-right: 1px solid rgb(191, 191, 191);
  border-bottom: 1px solid rgb(191, 191, 191);
}

.buttons > button:nth-child(4):hover,
.buttons > button:nth-child(8):hover,
.buttons > button:nth-child(12):hover,
.buttons > button:nth-child(16):hover,
.buttons > button:nth-child(19):hover{
  background-color: rgb(225, 131, 53);
  transition: 0.2s;
}